@model restoran.Models.MenuList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-4">
        <br />
        <h4 class="text-primary">Ürün Düzenleme</h4>
        <!--dışarıdan resim eklemek için-->
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Başlık
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                Açıklama
                <textarea asp-for="Aciklama" class="form-control" ></textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                Fiyat
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                Resim
                <input asp-for="Resim" class="form-control" type="hidden" style="width:300px; height:100px;" />
                <input asp-for="Resim" class="form-control" type="file" style="width:300px; height:100px;" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                Kategori
                <select asp-for="KategoriId" class="form-control" asp-items="ViewBag.KategoriId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-primary">Listeye dön</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.Resim == null)
        {
            <img widht="320" height="280" src="~/Site/images/noimage.png" />
        }
        else
        {
            <img src="@Model.Resim" widht="320" height="280" />
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
