@model restoran.Models.SiparisList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isim" class="control-label"></label>
                <input asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelNo" class="control-label"></label>
                <input asp-for="TelNo" class="form-control" />
                <span asp-validation-for="TelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisiSayisi" class="control-label"></label>
                <input asp-for="KisiSayisi" class="form-control" />
                <span asp-validation-for="KisiSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasaNo" class="control-label"></label>
                <input asp-for="MasaNo" class="form-control" />
                <span asp-validation-for="MasaNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Not" class="control-label"></label>
                <input asp-for="Not" class="form-control" />
                <span asp-validation-for="Not" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Siparisler" class="control-label"></label>
                <input asp-for="Siparisler" class="form-control" />
                <span asp-validation-for="Siparisler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiparisDurum" class="control-label"></label>
                <input asp-for="SiparisDurum" class="form-control" />
                <span asp-validation-for="SiparisDurum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
